{% extends 'base.html.twig' %}

{% block title %}Mon compte{% endblock %}

{% block content %}
<h1>Mon compte </h1>
    Bienvenu {{ app.user.firstname }} dans votre compte.  <br> C'est dans cette espace qe vous allez pouvoir gerer vos informations personnelles
    <hr>
    <ul>
        <li><a href="{{ path('account_password') }}">Modifier mon mot de passe</a> </li>
        <li><a href="{{ path('account_address') }}">Gerer mes adresses</a></li>
        <li><a href="http://">Commander</a></li>
    </ul>

{% endblock %}
