{% extends 'base.html.twig' %}

{% block title %}Afroshopping - Mon compte{% endblock %}

{% block content %}
<h1>Mon compte </h1>
    Bienvenu {{ app.user.firstname }} dans votre compte.  <br> C'est dans cette espace qe vous allez pouvoir gerer vos informations personnelles
{% endblock %}
